#welcome {
  div {
    flex-wrap: wrap;
    @media (width>40rem) {
      flex-wrap: nowrap;
    }

    figure {
      width: 100%;
      @media (width>40rem) {
        align-self: stretch;
      }

      img {
        margin: auto;
        height: 100%;
      }
    }

    p {
      width: 100%;
    }
  }
}

#history {
  article {
    img {
      margin-left: 2rem;
      float: right;
    }
  }
}

#access {
  article {
    &:last-child {
      margin-top: 4rem;
    }

    aside {
      margin: 2rem 1rem;
      padding: 2rem 0.4rem;
      text-align: center;
      border-radius: 0.4rem;
      background: linear-gradient(
        hsl(var(--clr-lighter)),
        hsl(var(--clr-accent), 0.2),
        hsl(var(--clr-lighter))
      );
      box-shadow: 0.2rem 0.2rem 0.2rem hsl(var(--clr-darker));
    }
  }
}
